# User files
.envrc
.direnv

# General compiled files
__pycache__
.ipynb_checkpoints
.coverage
.cache
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.tex.bak
*.pyc

# Specific to project
output-*/
flux
fluxtools.py
